* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.promo {
  height: 800px;
  background: url("../img/main.png") center center/cover no-repeat;
  padding: 39px 0 62px 0;
}
.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.logo .logo_img {
  display: block;
  margin: auto;
}
.logo .logo_text {
  color: aliceblue;
  font-size: 15px;
  font-weight: 500px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}
.title {
  color: rgb(181, 113, 10);
  font-size: 41px;
  font-weight: 400px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
h1 {
  margin-top: 53px;
}
h2.title {
  margin-top: 30px;
}
.simple .title_big {
  color: azure;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  align-items: center;
  text-align: center;
  margin-top: 24px;
  text-transform: uppercase;
}
.promo .promo_text {
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  padding: 0 13px;
  margin-top: 25px;
}
.promo .promo_text span {
  color: rgb(181, 113, 10);
  font-weight: 700;
}
.promo .promo_btn {
  display: block;
  margin: 73px auto;
  width: 313px;
  height: 72px;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.4);
  border: 4px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.more {
  margin-top: 73px;
}
.more .more_text {
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}
.waiting {
  min-height: 607px;
  background-color: rgb(232, 232, 232);
  padding: 85px 0 75px 0;
}
.waiting .waiting_header,
.finish .finish_header {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.waiting .waiting_devider,
.finish .finish_devider {
  margin: 0 auto;
  width: 217px;
  height: 4px;
  background: #f9bf3b;
  margin-top: 18px;
}
.waiting .weiting_subheader {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  margin-top: 18px;
}
.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}
.waiting .waiting_wrapper .waiting_item .weiting_descr {
  margin-top: 33px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  color: #4a4a4a;
}
.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}
.optimization .optimization_header {
  margin-left: 391px;
  font-weight: 400;
  font-size: 29px;
  text-transform: uppercase;
  color: #299cbd;
}
.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}
span {
  font-weight: 700;
}
.optimization .optimization_img {
  position: absolute;
  left: -240px;
  top: -48px;
  z-index: -1;
}
.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url(../img/second.png) center center/cover no-repeat;
}
.finish .finish_header {
  color: rgb(255, 255, 255);
}
.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
  width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  background-color: aqua;
  border-radius: 100%;
  height: 115px;
  width: 115px;
}
.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  text-align: center;
  color: azure;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}
present_icon {
  box-sizing: border-box;
  margin: 15px 0 15px 0;
}
.present_icon .present_img {
  display: block;
  margin: 0 auto;
}

.present_text {
  text-align: center;
  font-size: 24px;
  position: absolute;
  width: 1161px;
  height: 213px;
  top: 216px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
}
.present_button {
  display: block;
  margin: 73px auto;
  width: 313px;
  height: 72px;
  text-align: center;
  position: absolute;
  width: 313px;
  height: 72px;
  left: 425px;
  top: 400px;
  background-color: rgb(25, 128, 247);
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  border: 0;
}
.present_link {
  text-decoration: none;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}
.present_conteiner {
  display: block;
  height: 631px;
  left: 125px;
  top: 157px;
}
.present {
  margin-top: 25px;
}
.bloc_logo {
  display: block;
  margin: 0 auto;
}
.bloc_text {
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}
.bloc_when {
  margin: 45px 0 25px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #299cbd;
}
.bloc_round {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #4a4a4a;
}

.ending {
  padding: 70px;
  width: 1519px;
  height: 119px;
  background-color: #252525;
  text-align: center;
}
.ending_link {
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #888888;
}
.link {
  text-decoration: none;
  color: #888888;
}
